.loading-text {
    position: absolute;
    top: 90%;
    left: 50%;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
/*
  body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
  }
  
  h1 {
    font-size: 2em;
  }
  
  h2 {
    font-size: 1.5em;
  }
 
 
  ol {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  li {
    margin: 10px;
    width: 150px;
    text-align: center;
  }
  */

  body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
  }
  
  h1 {
    font-size: 2em;
    margin-bottom: 20px;
    margin-right: 592px;
  }
  
  h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    margin-right: 579px;
  }
  
  .heroes-list {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px 104px; 
    justify-content: center; 
    max-width: 600px; 
    margin: 0 auto; 
    white-space: nowrap;
  }
  
  li {
    margin: 10px 0; 
    width: 150px;
    text-align: left;
    font-size: 1.2em;
    cursor: pointer;
  }

  li span {
  margin-left: 5px; 
  font-size: initial;
}